<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="logo.webp" alt="Logo Empresa" width="40" height="40">
            <span style="color: rgb(255, 255, 255)"> Empresa</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/inicio" style="color: rgb(255, 255, 255)">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/ubicanos" style="color: rgb(255, 255, 255)">Ubícanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/contactanos" style="color: rgb(255, 255, 255)">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>  
    <br><br><br><br><br>
    <section id="portada" class="text-center mb-4">
        <h1 class="display-4" style="color: rgb(255, 255, 255)">En nuestra empresa nuestro cliente es prioridad.</h1>
        <div id="overlay"></div>
    </section>
    <br><br><br>
    <main class="container my-5">

        <section id="especialidades" class="mb-5">
            <h2 class="text-center mb-4" style="color: rgb(255, 255, 255)">Nuestras Especialidades</h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3 style="color: rgb(255, 255, 255)">Instalación de Sistemas Operativos</h3>
                    <p style="color: rgb(255, 255, 255)">Instalamos y configuramos sistemas operativos como Windows, macOS y Linux, asegurando un rendimiento óptimo y una instalación sin errores.</p>
                </div>
                <div class="col-md-4 text-center">
                    <h3 style="color: rgb(255, 255, 255)">Instalación de Software de Oficina</h3>
                    <p style="color: rgb(255, 255, 255)">Instalamos y configuramos suites de oficina como Microsoft Office y Google Workspace, optimizando tu productividad y facilitando el trabajo en equipo.</p>
                </div>
                <div class="col-md-4 text-center">
                    <h3 style="color: rgb(255, 255, 255)">Reparación de Computadoras</h3>
                    <p style="color: rgb(255, 255, 255)">Reparamos computadoras abordando problemas de hardware y software, garantizando un diagnóstico preciso y soluciones efectivas para que tu equipo funcione como nuevo.</p>
                </div>
            </div>
        </section>
    </main>
    <div class="container">
        <div class="row">
            <h1 class="text-center mb-3" style="color: rgb(255, 255, 255)">Contacto</h1>
            <div class="form-group">
                <form [formGroup]="formularioForm" (ngSubmit)="enviarDatos()" method="POST" class="mx-auto" style="max-width: 600px;">
                    <div class="mb-2">
                        <label for="nombre" class="form-label" style="color: rgb(255, 255, 255)">Nombre</label>
                        <input type="text" class="form-control"
                        formControlName="nombre" id="nombre" 
                        aria-describedby="nombreHelp"
                        placeholder="Ingrese Nombre">
                    </div>
                </form>
            </div>
            <div class="form-group">
                <form [formGroup]="formularioForm" (ngSubmit)="enviarDatos()" method="POST" class="mx-auto" style="max-width: 600px;">
                    <div class="mb-2">
                        <label for="apellido" class="form-label" style="color: rgb(255, 255, 255)">Apellido</label>
                        <input type="text" class="form-control"
                        formControlName="apellido" id="apellido" 
                        aria-describedby="apellidoHelp"
                        placeholder="Ingrese Apellido">
                    </div>
                    
                </form>
            </div>
            <div class="form-group">
                <form [formGroup]="formularioForm" (ngSubmit)="enviarDatos()" method="POST" class="mx-auto" style="max-width: 600px;">
                    <div class="mb-2">
                        <label for="mensaje" class="form-label" style="color: rgb(255, 255, 255)">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required=""
                        formControlName="mensaje"
                        aria-describedby="mensajeHelp"
                        placeholder="Ingrese su problema" 
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div><br>
    <footer class="bg-white text-dark text-center py-3">
        <div class="container">
            <img src="logo.webp" alt="Logo Empresa" width="40" height="40">
            <p class="mb-0">Empresa | Contacto: +56926110490</p>
        </div>
    </footer>
</body>
</html>